{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    About Us
{% endblock %}

 
{% block content %}

<div class="about-section">
        <h1 class="About">About Us Page</h1>
        <p>Twos Complement is a new, innovative dating app for computer science enthusiasts.
          We take into account unique, CS related traits and match you up with people who we think you'll 'click' with!
          Whether our site finds you a partner or a pair programmer, we are
          sure you'll find well-matched and meaningful connections with us.</p>
        <p>We are a group of second year computer scientists at the University of Glasgow, and TwosComplement is our Web
          Application Development project. A lot of love and hard work went into this site, so please have a browse
          and enjoy!</p>
    </div>

  <h2 class="Team">Meet Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>

      <div class="column">
        <div class="column-image">
          <img src="" alt="" style="width:100%">
        </div>
        <div class="column-container">
          <h2>Ahmed</h2>
          <p class="column-title">Director/ Backend Developer</p>
          <p class="column-detail">I had a major hand in implementing the backend development, as well as carrying out the testing for the site.</p>
          <button id="button" class="open-button" onclick="AopenForm()">
            Contact
          </button>
          <div class="form-popup" id="AForm">
            <button type="button" id ="Xbutton" class="btn cancel" onclick="AcloseForm()">&times;</button>
          <form class="form-contaner">
            <h3>Ahmed@TwosComplement.com</h£>
          </form>
          </div>
          
        </div>
      </div>
      <br></br>

      <div class="column-container">
        <h2>Lauren</h2>
        <p class="column-title">Frontend Developer</p>
        <p class="column-detail">I worked on the UI, and helped with database/model design.</p>
        <button id="button" class="open-button" onclick="LopenForm()">
          Contact
        </button>
        <div class="form-popup" id="LForm">
          <button type="button" id ="Xbutton" class="btn cancel" onclick="LcloseForm()">&times;</button>
        <form class="form-contaner">
          <h3>Lauren@TwosComplement.com</h3>
        </form>
        </div>
      </div>
    </div>
    <br></br>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Mike</h2>
        <p class="column-title">Backend/Frontend developer</p>
        <p class="column-detail">I worked on the site hierarchy and inheritance between html pages.</p>
        <button id="button" class="open-button" onclick="MopenForm()">
          Contact
        </button>
        <div class="form-popup" id="MForm">
          <button type="button" id ="Xbutton" class="btn cancel" onclick="McloseForm()">&times;</button>
        <form class="form-contaner">
          <h3>Mike@TwosComplement.com</h3>
        </form>
        </div>
      </div>
    </div>
    <br></br>

    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Niamh</h2>
        <p class="column-title">Designer/Founder/Backend Developer</p>
        <p class="column-detail">The brains behind the idea, I also hold a strong position in the backend development. I also created the logo.</p>
        <button id="button" class="open-button" onclick="NopenForm()">
          Contact
        </button>
        <div class="form-popup" id="NForm">
          <button type="button" id ="Xbutton" class="btn cancel" onclick="NcloseForm()">&times;</button>
        <form class="form-contaner">
          <h3>Niamh@TwosComplement.com</h3>
        </form>
        </div>
      </div>
    </div>
    <br></br>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Paul</h2>
        <p class="column-title">Backend Developer</p>
        <p  class="column-detail">I worked on the database behind the website, and also designed our matching algorithm.</p>
        <button id="button" class="open-button" onclick="PopenForm()">
          Contact
        </button>
        <div class="form-popup" id="PForm">
          <button type="button" id ="Xbutton" class="btn cancel" onclick="PcloseForm()">&times;</button>
        <form class="form-contaner">
          <h3>Paul@TwosComplement.com</h3>
        </form>
        </div>
      </div>
    </div>
    <br></br>

    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Rhythm</h2>
        <p class="column-title">Designer/Frontend Developer</p>
        <p class="column-detail">I designed the background image, helped with the design spec and worked on the UI.</p>
        <button id="button" class="open-button" onclick="RopenForm()">
          Contact
        </button>
        <div class="form-popup" id="RForm">
          <button type="button" id ="Xbutton" class="btn cancel" onclick="RcloseForm()">&times;</button>
        <form class="form-contaner">
          <h3>Rhythm@TwosComplement.com</h3>
        </form>
        </div>
    </div>
    <br></br>

  </div>

{% endblock content %}