{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    About Us
{% endblock %}

 
{% block content %}

<div class="about-section">
        <h1 class="About">About Us Page</h1>
        <p>Our Web App is the hot new dating app for computer science enthusiasts. It is made to bring people with common CS interests together through a list of questions, whether CS related or general, and hopefully spark a romance!</p>
        <p>We are a group of cs students and this was our web app project</p>
    </div>

  <h2 class="Team">Meet Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>

      <div class="column">
        <div class="column-image">
          <img src="" alt="" style="width:100%">
        </div>
        <div class="column-container">
          <h2>Ahmed</h2>
          <p class="column-title">Director/ Backend Developer</p>
          <p class="column-detail">I am in charge of the day-to-day operational running of the business, which includes our business strategy, operations and client services.</p>
          <p style= "font-weight: bold;">Ahmed@TwosComplement.com</p>
          <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
          
        </div>
      </div>
      <br></br>

      <div class="column-container">
        <h2>Lauren</h2>
        <p class="column-title">Frontend Developer</p>
        <p  class="column-detail">I worked on the UI</p>
        <p style= "font-weight: bold;">Lauren@TwosComplement.com</p>   
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
    <br></br>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Mike</h2>
        <p class="column-title">Backend/Frontend developer</p>
        <p class="column-detail">yes</p>
        <p style= "font-weight: bold;">Mike@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
    <br></br>

    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Niamh</h2>
        <p class="column-title">Designer/Founder/Backend Developer</p>
        <p class="column-detail">The brains behind the idea, I also hold a strong possition in the the backend devlopment. I also created the logo.</p>
        <p style= "font-weight: bold;">Niamh@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
    <br></br>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Paul</h2>
        <p class="column-title">Backend Developer</p>
        <p  class="column-detail">Worked on the database behind the website</p>
        <p style= "font-weight: bold;">Paul@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
    <br></br>

    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Rhythm</h2>
        <p class="column-title">Designer/Frontend Devloper</p>
        <p class="column-detail">I designed the background image, and worked on the UI</p>
        <p style= "font-weight: bold;">Rhythm@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
    <br></br>

  </div>




{% endblock content %}