{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    About Us
{% endblock %}

 
{% block content %}

<div class="about-section">
        <h1 class= About>About Us Page</h1>
        <p>Our Web App is the hot new dating app for computer science enthusiasts. It is made to bring people with common CS interests together through a list of questions, whether CS related or general, and hopefully spark a romance!</p>
        <p>We have been this small company since 2010. Beginning small and expanding slowly over the years as we expand we hope to bring on more advanced application.</p>
    </div>
  
  <h2 class=Team>Meet Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Lauren</h2>
        <p class="column-title">CEO & Founder</p>
        <p  class="column-detail">I’m the founder of TwosComplement and my job is to make sure the Application grows in a sustainable, exciting way. My specialist sectors are financial and professional services and I’m good at making sure clients buy into the vision of where their brand could go, coming up with creative ideas and inspiring the team to achieve bigger and better things</p>
        <br></br>
        <p style= "font-weight: bold;">Lauren@TwosComplement.com</p>   
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Ahmed</h2>
        <p class="column-title">Director</p>
        <p class="column-detail">I am in charge of the day-to-day operational running of the business, which includes our business strategy, operations and client services.</p>
        <br></br>
        <p style= "font-weight: bold;">Ahmed@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>
  
    <div class="column">
      <div class="column-image">
        <img src="" alt="" style="width:100%">
      </div>
      <div class="column-container">
        <h2>Paul</h2>
        <p class="column-title">Designer</p>
        <p  class="column-detail">I’m responsible for both the financial and professional services departments here at Rostrum, as well as helping to consult on crisis management situations across our client base. I love the fast pace and creativity of my job, as well as the interesting insights and conversations that come out of meeting so many new people..</p>
        <br></br>
        <p style= "font-weight: bold;">Paul@TwosComplement.com</p>
        <p style="margin-top: 1rem;"><button class="button">Contact</button></p>
      </div>
    </div>

  </div>




{% endblock content %}