<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Questionnaire</title>
    </head>

    <body>
        <h1>Questionnaire</h1>
        <div>
            <form id ="questionnaire_form" method="post" action="/TwosComplement/register/compatibility_questionnaire/">
                {% csrf_token %}
                
                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br />
                    {{ field }}
                </br>
                {% endfor %}
                <br />
            <input type="submit" name="submit" value="Questionnaire" />
            </form>
            <br />

            <strong>{{ boldmessage }}</strong><br />
            <a href="/TwosComplement/">Home</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            <a href="/TwosComplement/login/">Log in</a><br />
        </div>

        <div>
            <!--

            -->
        </div>
    </body>

</html>