{% extends 'TwosComplement/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}


{% block content %}

    <h1>Welcome to the first ever CS dating platform</h1>

    <h3>Please register or login if you already have an account to get started </h3>
    <section id="slideshow">
	    <div class="slide">
	        <img src="{% static 'images/slide 1.jpg' %}"
	            alt="Front image" />
	    </div>

	    <div class="slide">
	        <img src="{% static 'images/slide 2.jpg' %}"
	            alt="slideimage" />
	    </div>

	    <div class="slide">
	        <img src="{% static 'images/slide 3.jpg' %}"
	            alt="slideimage" />
	    </div>
	</section>

{% endblock content %}
