<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Index</title>
    </head>

    <body>
        <h1>Welcome to the number 1 CS site</h1>
        
        <h3>Please complete registration form or click on login below if you already have an account <br /> 
            <a href="/TwosComplement/login/">Login</a><br /></h3>
        <div>
            <strong>{{ boldmessage }}</strong><br />
            <a href="/TwosComplement/about_us/">About</a><br />
            <a href="/TwosComplement/my_dates/">My dates</a><br />
            <img src="{% static 'images/frontimage.jpg' %}"
                alt="Front image" />
        </div>
    </body>

</html> 