<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Login</title>
    </head>

    <body>
        <h1>Login page</h1>
        <form id="login_form" method="POST" action="{% url 'TwosComplement:login' %}">
          {% csrf_token %}
          Username: <input type="text" name="username" value="" size="50" />
          <br />
          Password: <input type="password" name="password" value="" size="50" />
          <br />
          <input type="submit" value="submit" />
        </form>
        <div>
            <a href="/TwosComplement/">Home</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            <a href="/TwosComplement/register/">Register</a><br />
        </div>
    </body>
</html> 