<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Login</title>
    </head>

    <body>
        <h1>Login page</h1>

        <form>
            <label for="username">Username</label><br />
            <input type="text" name="username" placeholder="Enter your username"><br />
            <label for="password">Password</label><br />
            <input type="password" name="password" placeholder="Enter your password"><br />
            <input type="submit" value="Login">
        </form>
        <div>
            <a href="/TwosComplement/">Home</a><br />
            <a href="/TwosComplement/login/my_dates/">My dates</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            <a href="/TwosComplement/register/">Register</a><br />
        </div>
    </body>
</html> 