{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    Manage
{% endblock %}

{% block content %}
    <h1>Manage my account</h1>
    <div>
        <p>Hey {{ user.username }}, make any changes to your profile here!</p>
        <form id="user_form" method="post" action="{% url 'TwosComplement:manage' %}"
        enctype="multipart/form-data">

        {% csrf_token %}

        <!--{{ user_form.as_p }}-->
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Update" class = "button"/>
        </form>
        <br></br>

        <a href="{% url 'TwosComplement:my_dates' %}">
            <button class = "button">
            My Dates
            </button>
        </a><br />
    </div>
{% endblock content %}