{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    My Account
{% endblock %}


{% block content %}
    <h1>My Account</h1>
    <div>
        <strong>View your profile here!</strong><br />

        <table id = "register">
            <tr>
            {% if user_profile.photo %}
            <td><img class="profile_pic" src="{{ user_profile.photo.url }}"></td>
            {% else %}
            <td><img class="profile_pic" src="{{ MEDIA_URL }}profile_images/default.jpg"></td>
            {% endif %}
                <td><span id = "name"><strong>{{ user_profile.name }}</strong></span>
                <br>
                @{{ user.username }}
                <br>
            </tr>
            <tr>
                <td><span id = "name">About Me:</span><br>
                <span id = "tag">Age: </span>{{ user_profile.age }}
                <br>
               <span id = "tag">Gender: </span>{{ user_profile.get_gender_display }}
                <br>
                <span id = "tag">Sexuality: </span>Prefers {{ user_profile.get_sexualPreference_display }}
                <br>
                <span id = "tag">Bio: </span>{{ user_profile.bio }}</td>
                <br>
            </tr>
            <tr>
                <td><span id = "name">Contacts: </span><br>
                <span id = "tag">Email: </span>{{ user.email }}
                {% if user_profile.github %}
                    <span id = "tag">GitHub : </span>{{ user_profile.github }}
                {% endif %}
                    <br>
                {% if user_profile.discord %}
                    <span id = "tag">Discord : </span>{{ user_profile.discord }}</td><br />
                {% endif %}
            </tr>
            </table>
        </div>

        

        <a href="{% url 'TwosComplement:my_dates' %}">
            <button id = "button">
            My Dates
            </button>
        </a><br />
        
    </div>
{% endblock content %}
