{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    My Account
{% endblock %}


{% block content %}
    <h1>My Account</h1>
    <div>
        <strong>View your profile here!</strong><br />

        <div>
            {% if user_profile.photo %}
            <img class="profile_pic" src="{{ user_profile.photo.url }}">
            {% else %}
            <img class="profile_pic" src="{{ MEDIA_URL }}profile_images/default.jpg">
            {% endif %}
            <ul class = "myAccount">
                <li id = "name"><strong>{{ user.username }}</strong></li>
                <br>
                <li><span id = "tag">Name: </span>{{ user_profile.name }}</li>
                <br>
                <li><span id = "tag">Age: </span>{{ user_profile.age }}</li>
                <br>
                <li><span id = "tag">Gender: </span>{{ user_profile.get_gender_display }}</li>
                <br>
                <li><span id = "tag">Sexuality: </span>Prefers {{ user_profile.get_sexualPreference_display }}</li>
                <br>
                <li><span id = "tag">Bio: </span>{{ user_profile.bio }}</li>
                <br>
                <li><span id = "tag">Email: </span>{{ user.email }}</li>
                <br>
                {% if user_profile.github %}
                    <li><span id = "tag">GitHub : </span>{{ user_profile.github }}</li>
                {% endif %}
                <br>
                {% if user_profile.discord %}
                    <li><span id = "tag">Discord : </span>{{ user_profile.discord }}</li><br />
                {% endif %}
            </ul>
        </div>

        

        <a href="{% url 'TwosComplement:my_dates' %}">
            <button id = "button">
            My Dates
            </button>
        </a><br />
        
    </div>
{% endblock content %}
