<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>My Dates</title>
    </head>

    <body>
        <h1>My Dates</h1>
        <div>
            <strong>{{ boldmessage }}</strong><br />
            <a href="{% url 'TwosComplement:logout' %}">Logout</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            
        </div>

        <div>
            <a href="/TwosComplement/login/my_dates/my_account/">My account</a><br />
            <a href="/TwosComplement/login/my_dates/manage/">Manage my account</a><br />
        </div>
    </body>

</html> 