{% extends 'TwosComplement/base.html' %}
{% block title_block %}
    My Dates
{% endblock %}


{% block content %}
    <h1>My Dates</h1>
    {% if matches %}
    <div>
        <strong>{{ boldmessage }}</strong><br />
        {% for match in matches %}
        <ul>
            <li>
                {% if match.photo %}
                <img class="profile_pic" src="{{ match.photo.url }}">
                {% else %}
                <img class="profile_pic" src="{{ MEDIA_URL }}profile_images/default.jpg">
                {% endif %}
                <br />
                {{ match.user.username }}
                <ul>
                    <li>Name : {{ match.name }}</li><br />
                    <li>Age : {{ match.age }}</li><br />
                    <li>Gender : {{ match.get_gender_display }}</li><br />
                    <li>Bio : {{ match.bio }}</li><br />
                    {% if match.github %}
                        <li>GitHub : {{ match.github }}</li><br />
                    {% endif %}
                    {% if match.discord %}
                        <li>Discord : {{ match.discord }}</li><br />
                    {% endif %}
                </ul>
            </li>
        </ul>
        {%endfor%}
    </div>
    {% else %}
            <strong>You have no matches.</strong>
    {% endif %}

    <div>
        <br></br>
        <a href="{% url 'TwosComplement:my_account' %}">
            <button id = "button">
                My account
            </button>
        </a></br>
    <br></br>
        <a href="{% url 'TwosComplement:manage' %}">
            <button id = "button">
                Manage my account
            </button>
        </a></br>
    </div>
{% endblock content %}