<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Register</title>
    </head>

    <body>
        <div>
            <h1>Register</h1>
            <strong>{{ boldmessage }}</strong><br />
            <form id="UserForm" method="post" action="/TwosComplement/register/">
                {% csrf_token %}

                {% for field in user_form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }} <br />
                    {{ field }}
                </br>
                {% endfor %}
                <br />
            <input type="submit" name="submit" value="Register" />
            </form>
            <br />
            <a href="/TwosComplement/">Home</a><br />
            <a href="/TwosComplement/login/">Log in</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            <a href="/TwosComplement/register/compatibility_questionnaire/">Questionnaire</a><br />
        </div>
    </body>
</html>