<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head>
        <title>Register</title>
    </head>

    <body>
        <div>
            <h1>Register</h1>
            <strong>{{ boldmessage }}</strong><br />
            <form>
                <label for="Email">Email</label><br />
                <input type="email" name="Email" placeholder="Enter your email"><br />
                <label for="password">Password</label><br />
                <input type="password" name="password" placeholder="Enter you password"><br />
                <label for="username">Username</label><br />
                <input type="text" name="username" placeholder="Enter your username"><br />
                <label for="Firstname">First name</label><br />
                <input type="text" name="Firstname" placeholder="Enter your first name"><br />
                <label for="Lastname">Last name</label><br />
                <input type="text" name="Lastname" placeholder="Enter your last name"><br />
                <label for="Age">Age</label><br />
                <input type="number" name="Age" placeholder="Enter your age"><br />
                <input type="submit" value="Register">
            </form>
            <a href="/TwosComplement/">Home</a><br />
            <a href="/TwosComplement/login/">Log in</a><br />
            <a href="/TwosComplement/about_us/">About us</a><br />
            <a href="/TwosComplement/register/compatibility_questionnaire/">Questionnaire</a><br />
        </div>
    </body>
</html>