{% extends 'TwosComplement/base.html' %}

{% block title_block %}
    Register
{% endblock %}


{% block content %}
<div id= "register">
    <h1>Register</h1>
    <p id = "info">Fields with * are required</p>
    <form id="user_form" method="post" action="{% url 'TwosComplement:register' %}"
    enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" id = "button"/>
    </form>
    <br />
</div>
{% endblock content %}
