/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
/* https://www.w3schools.com/css/css3_buttons.asp */

h1{
  font-family: "Tw Cen MT", serif;
  color: #bd1e2e;
  font-size: xx-large;
  text-decoration-style: solid;
}

h2{
  font-family: "Tw Cen MT", serif;
  color: #b8445f;
  font-size: xx-large;
  text-decoration-style: solid;
}

h3{
  font-family: "Tw Cen MT", serif;
  color: rgb(175, 92, 92);
  text-decoration-style: solid;
}

#name{
  color:#bd1e2e
  
}
table{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

td{
  padding: 10px;
}


#info{
  color:#bd1e2e
}

#tag{
  color:#b8445f;
}

#button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Tw Cen MT", serif;
  outline: none;
  color: #fff;
  background-color: #bd1e2e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(175, 92, 92);
}

#button:hover{
  background-color: #b8445f;
  box-shadow: 0 9px rgb(190, 119, 119);
}

#button:active{
  background-color: #bd1e2e;
  box-shadow: 0 5px rgb(175, 92, 92);
  transform: translateY(4px);
}

#Xbutton{
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: "Tw Cen MT", serif;
  outline: none;
  color: #fff;
  background-color: #bd1e2e;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px rgb(175, 92, 92);
  float: right;

}


.nav{
  background-color: #f5f5f5;
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: #a55c70fd;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-family: "Tw Cen MT", serif;
  font-size: xx-large;
  line-height: 50px;
}

.nav a:hover {
  background-color: #ffdfdf;
  color: #db7d7dcc;

}

.nav-right{
  float: right;
}



#logo{
  height: 100px;
  /*width: 286px;*/
  margin-top: -35px;
  margin-bottom: -35px;
}

#right{
  float:right;
  background-color: #f5f5f5;
}

.profile_pic{
  width: 100px;
  height: 100px;
  border-radius: 10px;

}

#pic{
  float: left;
}

.about-section{

}

.row{

}

li{
  list-style-type: none;
}

li a {
  display: block;
  color: #a55c70fd;
  text-align: center;
  padding: 35px;
  text-decoration: none;
  font-family: "Tw Cen MT", serif;
  font-size: xx-large;
  line-height: 50px;
}


body  {
  background-color: #e36b6b;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Tw Cen MT", serif;
}

#register {
  text-align:left
}


#card{
  width: 80%;
  background-color: #ffffffcc;
  margin: auto;
  padding: 20px;
}

/*.login_button{
  height: 500;
  width: 100;
  font-size: medium;
}
*/

input[type=text]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}

input[type=email]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}

input[type=password]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}

input[type=number]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}

input[type=image]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}
input[type=text]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}
input[type=text]{
  border: 1px  solid rgb(255, 0, 85);
  border-radius: 5px;
}


/* Slideshow.html */

#slideshow {
    width: 100%;
    max-width: 100%;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.slide img {

    
    width: 100%;
    display: block;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

/*End of slideshow*/

/* contact buttons */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.form-popup {
  display: none;
  border: 3px solid rgb(175, 92, 92);
  z-index: 9;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

header {
    
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
}