/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

li {
  float: left;
}

#logo{
  height: 88px;
  width: 286px;

}

li a {
  display: block;
  color: #a55c70fd;
  text-align: center;
  padding: 35px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ffdfdf;
  color: #db7d7dcc;
  
}


body  {
  background-color: #e36b6b;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  


}

#card{
  width: 80%;
  background-color: #ffffffcc;
  margin: auto;
  padding: 20px;
}

#register{
  text-align: center;
}
/*.center{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);

}
*/