/* https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
  }
  
  li {
    float: left;
  }

  #logo{
    height: 88px;
    width: 286px;

  }
  
  li a {
    display: block;
    color: #b35b74;
    text-align: center;
    padding: 35px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(184,68,95);
    color: #f5f5f5;
    
  }

  .active {
    background-color: #5a2934;
  }